[Unit]
Description=Gnome Headless Compositor
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
Environment=GNOME_VDI_LOG_DIR=/var/log/vortice
ExecStartPre=/usr/bin/install -d -m 0755 /var/log/vortice
ExecStart=/usr/bin/gnome-vdi-session.sh
ExecStop=/usr/bin/kill -s TERM $MAINPID
KillMode=control-group
Restart=always
RestartSec=5
LogsDirectory=vortice
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
